<!-- Choose Section Start -->
<div id="facility" class="why-choose-us style2 gray-bg3 pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 order-last">
                <div class="video-wrap md-mb-40">
                    <img src="assets/images/infrastructure/5.jpg" alt="">
                    <!-- <a class="popup-videos" href="https://www.youtube.com/watch?v=atMUy_bPoQI">
                        <i class="fa fa-play"></i>
                    </a> -->
                </div>
            </div>
            <div class="col-lg-8">
                <div class="sec-title2 mb-40">
                    <h2 class="title purple-color">QUICK LINKS </h2>
                </div>
                <div class="facilities-two">
                    <div class="row">
                        <div class="col-lg-6 mb-40 md-mb-25 col-md-12 single-facility">
                            <div class="content-part">
                                <div class="icon-part">
                                    <!-- <img src="assets/images/icon.png" alt=""> -->
                                    <i class="flaticon-arrow"></i>
                                </div>
                                <div class="text-part">
                                    <h4 class="title"> <a href="https://ncte.gov.in/Website/Index.aspx" target="_blank">
                                            National Council for Teacher Education</a> </h4>
                                </div>
                            </div>


                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>

                                </div>
                                <div class="text-part">
                                    <h4 class="title"> <a href="https://www.ugc.ac.in/" target="_blank">University
                                            Grants Commission</a></h4>
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>
                                </div>
                                <div class="text-part">
                                    <h4 class="title"> <a href="https://www.education.gov.in/en"
                                            target="_blank">Ministry of Human Resource Development</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-40 md-mb-25 col-md-12 single-facility">
                            <div class="content-part">
                                <div class="icon-part">
                                    <!-- <img src="assets/images/icon.png" alt=""> -->
                                    <i class="flaticon-arrow"></i>
                                </div>
                                <div class="text-part">
                                    <h4 class="title"> <a href="http://www.cesociety.in/ijmed/images/news/NCTE%20Code.pdf" target="_blank">
                                        NCTE Code</a> </h4>
                                </div>
                            </div>


                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>

                                </div>
                                <div class="text-part">
                                    <h4 class="title"> <a href="http://www.cesociety.in/ijmed/images/news/NCTE%20ORDER.pdf" target="_blank">NCTE Order</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Choose Section End -->