<app-header></app-header>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <style>
            p {
                text-align: justify;
            }
        </style>
        <!-- Intro Courses -->
        <section class="intro-section gray-bg pt-40 pb-100 md-pt-64 md-pb-70">
            <div class="container">
                <div class="row clearfix">

                    <div class="video-column col-lg-6">

                        <div class="inner-column">
                            <div class="course-features-info">
                                <h5>Facilities:</h5>
                                <ul>
                                    <li class="lectures-feature">
                                        <!-- <i class="fa fa-files-o"></i> -->
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Experienced and Qualified Staff.
                                        </span>
                                    </li>

                                    <li class="quizzes-feature">
                                        <!-- <i class="fa fa-puzzle-piece"></i> -->
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Well equipped computer laboratories.
                                        </span>
                                    </li>

                                    <li class="duration-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Centralized  library with large no. of books and Multipurpose Hall.
                                        </span>
                                    </li>

                                    <li class="students-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Large playground with green environment.
                                        </span>
                                    </li>

                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Canteen facility is available with hygienic food with reasonable rate.
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">R.O. Treated water facility.
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Scholarship will be provided to the ST, SC, OBC, students as per the Government rules.</span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Railway and Bus concession provided to the students.</span>
                                    </li>
                                    <li class="duration-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Parking facility is available.
                                        </span>
                                    </li>

                                    <li class="students-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">24 hours security is available.

                                        </span>
                                    </li>

                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Boys hostel available within the college campus.

                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="video-column col-lg-6">
                        <div class="inner-column">
                            <div class="course-features-info">
                                <h5>Activities:</h5>
                                <ul>
                                    <li class="lectures-feature">
                                        <!-- <i class="fa fa-files-o"></i> -->
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Students had participated in “International Yoga Day ” on 18th  June 2018.
                                        </span>
                                    </li>

                                    <li class="quizzes-feature">
                                        <!-- <i class="fa fa-puzzle-piece"></i> -->
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Organized Orientation Program for of M.Ed 1st & 3rd Semester Students  on 12/6/2018 to 14/6/2018.
                                        </span>
                                    </li>

                                    <li class="duration-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Celebration of Independence Day on 15th August,2018.
                                        </span>
                                    </li>

                                    <li class="students-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">An expert Guest Lecture delivered by Subhash Makwana on “Teacher Symbol” was organized for all students on 24/8/2018.
                                        </span>
                                    </li>

                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Organized Group Discussion  on “ સમસ્યા ઉકેલ કૌશલ્યવર્ધન” on 30/8/2018.
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Celebrated Janmashtmi on 31/8/2018.
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Teacher’s Day was celebrated enthusiastically on 5th September 2018 by the students of the college.
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">19/9/2018 to 22/9/2018 Pustak Vichar Vimarsh.
                                        </span>
                                    </li>
                                    <li class="duration-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Organized Research Meet Programme under IQAC on 1/10/2018.
                                        </span>
                                    </li>

                                    <li class="students-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Celebrated Birth Anniversary of Mahatma Gandhiji on 2/10/2018.
                                        </span>
                                    </li>

                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Celebration of Republic Day on 26/1/2018.
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End intro Courses -->
    </div>
    <!-- Main content End -->
</body>
<app-footer></app-footer>