<app-header></app-header>


<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <style>
            p {
                text-align: justify;
            }
        </style>
        <!-- Intro Courses -->
        <section class="intro-section gray-bg pt-40 pb-100 md-pt-64 md-pb-70">
            <div class="container">
                <div class="row clearfix">

                    <div class="video-column col-lg-12">

                        <div class="inner-column">
                            <div class="course-features-info">
                                <h5>Students Details:</h5>
                                <ul>
                                    <li class="quizzes-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Student List 2017-18</span>
                                        <span class="value">
                                            <a href="http://www.cesociety.in/ijmed/images/news/Student%20list%20-17-18.pdf"
                                                target="_blank"><i
                                                    class="fa fa-file-pdf-o"
                                                    aria-hidden="true"></i>
                                                Download</a></span>
                                    </li>
                                    <li class="quizzes-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Student List 2018-19</span>
                                        <span class="value">
                                            <a href="http://www.cesociety.in/ijmed/images/news/18-19%20stu.list.pdf"
                                                target="_blank"><i
                                                    class="fa fa-file-pdf-o"
                                                    aria-hidden="true"></i>
                                                Download</a></span>
                                    </li>
                                    <li class="quizzes-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Student List 2019-20</span>
                                        <span class="value">
                                            <a href="http://www.cesociety.in/ijmed/images/news/Students%20list%202019-20.pdf"
                                                target="_blank"><i
                                                    class="fa fa-file-pdf-o"
                                                    aria-hidden="true"></i>
                                                Download</a></span>
                                    </li>
                                    <li class="quizzes-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Student List 2020-21</span>
                                        <span class="value">
                                            <a href="http://www.cesociety.in/ijmed/images/news/Students%20list%202020-21.pdf"
                                                target="_blank"><i
                                                    class="fa fa-file-pdf-o"
                                                    aria-hidden="true"></i>
                                                Download</a></span>
                                    </li>
                                    <li class="quizzes-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Student List 2021-22</span>
                                        <span class="value">
                                            <a href="http://www.cesociety.in/ijmed/images/news/student%20list%202021-22%20M.Ed.pdf"
                                                target="_blank"><i
                                                    class="fa fa-file-pdf-o"
                                                    aria-hidden="true"></i>
                                                Download</a></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End intro Courses -->
    </div>
    <!-- Main content End -->
</body>
<app-footer></app-footer>