<section class="servicesHome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="servicesHome-box">



                    <h2>Message From From Principal's desk</h2>
                    <h5>Raysing Bhoi
                        <br>
                        <span>- Director,</span>
                    </h5>
                    <p>Let us think of education as the means of developing our greatest abilities, because in each of
                        us there is a private hope and dream which, fulfilled, can be translated into benefit for
                        everyone and grater strength for our nation. Society needs quality teachers. Their role is of
                        paramount importance for the overall development of the society only committed quality teachers
                        in an institute can take a nation forward. They will not only impart the technical, but value
                        based education too.</p>
                    <!-- <a href="VCMsg.aspx?id=10037" class="btn btn-sm btn-outline-white mb-0">Read More</a> -->

                </div>
            </div>

            <div class="col-md-4">
                <div class="video-section">
                    <div class="video-content">
                        <img src="assets/images/vc.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="servicesHome-box">
                    <!-- <h2>VC Auction for Gift/ Mementos</h2> -->
                    <p>Teaching on ethics and morality should also find an important place in the curricula Indian
                        culture will be the driving force to achieve excellence. Keeping in mind that excellence
                        matters, this institution Shri. I.J.Patel M.Ed. course was established in the year 2008. The
                        institution has successfully completed the years of its existence. During this period the
                        achievement of the institution in deferent areas of human quality is stupendous. This
                        achievement had been possible because of the harmonious co-operation between faculty,
                        non-teaching and students teachers. The faculty is extremely co-operative and takes keen
                        interests in all the activities of the institution. I earnestly believe that this co-operation
                        would continue in the years to come and would pave a path to words the betterment and upliftment
                        of our institution.</p>
                    <!-- <p>The institution has fulfilled its moral responsibility of incorporating every component of the
                        society, from kids to old people in designing and executing its inclusive education programmes.
                        This has broken the shackle of monotonous and exam oriented education system and led to lively
                        and realistic approaches enhanced efficacy and effectiveness of practical education programmes.
                        Over the years the tender foot of institution has grown into firm steps and we are now
                        progressing by leaps and bounds.
                    </p> -->
                    <!--<a href="http://vcgift.gtu.ac.in/" target="_blank" class="btn btn-sm btn-outline-white mb-0">Go to Portal</a>-->
                    <!-- <a href="http://www.test.gtu.ac.in/VC1/" target="_blank"
                        class="btn btn-sm btn-outline-white mb-0">Go to Portal</a> -->
                </div>
            </div>
        </div>
    </div>
</section>